.user-container{
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(to right, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}