.job-page-container{
	h1 {
		font-size: 33px;
		font-weight: 700;
		margin: 0;
		// border-bottom: 2px solid #000000;
	}
	h3{
		font-weight: 600;
		margin: 0;

	}
	.apply-button{
		margin: 24px 0px;
		color: #ffffff;
		font-weight: 800;
		height: 39px;
		width: 164px;
		border-radius: 20px;
		background-color: #70a0e7;
	}
	h2{
		font-size: 30px;
		font-weight: 500;
	}
	p{
		font-size: 16px;

	}
	ul{
		li{
			font-size: 16px;

		}
	}
}
