.user-container {
	.input-field-container {
		background-color: rgb(245, 245, 245);
		padding: 30px;
		.user-input-fields {
			margin-bottom: 20px;
			.ant-input-search
				> .ant-input-group
				> .ant-input-group-addon:last-child
				.ant-input-search-button {
				background-color: #ffffff;
				color: #000000;
				border-left: none;
				border-color: #d9d9d9;
			}
			&.treeselect-input {
				width: 100%;
				margin-bottom: 0;
			}
		}
	}
}
